.gallery {
  padding: 60px 0 0;

  @include vp-1199 {
    padding: 7px 0 0;
  }

  @include vp-767 {
    padding: 14px 0 0;
  }
}

.gallery__header {
  display: grid;
  grid-template-columns: 1fr 78px;
  margin-bottom: 41px;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 14px;
  }
}

.gallery__title {
  grid-column: 1 / -1;
  margin-bottom: 25px;

  @include vp-767 {
    margin: 0;
  }
}

.gallery__text-area {
  grid-column: 1 / 2;

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    width: 68%;
    word-break: break-word;

    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      width: 100%;
    }
  }
}

.gallery__buttons {
  grid-column: 2 / 3;
  margin-top: auto;
  margin-bottom: 9px;

  @include vp-1199 {
    margin-bottom: 19px;
  }

  @include vp-767 {
    margin: 0;
    align-self: flex-end;
  }
}

.gallery__slider {
  max-width: 1920px;

  @media(min-width: 768px) and (max-width: 1439px) {
    overflow: hidden;
  }
}

.gallery__list {
  min-width: 1440px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include vp-767 {
    min-width: 833px;
  }

  picture {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  > :nth-child(odd) {
    width: 19.1%;
  }

  > :nth-child(even) {
    width: 20.7%;
  }
}

.gallery__item {
  min-height: 449px;
  height: auto;

  @include vp-767 {
    min-height: 260px;
  }

  &--double {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include vp-767 {
      gap: 3px;
    }
  }
}

.gallery__photo {
  flex-grow: 1;
}
