.tours {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 418px;
    height: 279px;
    left: 0;
    bottom: -69;
    z-index: -1;
    background-image: url("../img/clouds/clouds-2-1x.png");

    @include retina {
      background-image: url("../img/clouds/clouds-2-2x.png");
    }

    @include vp-1199 {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 602px;
    height: 1364px;
    right: 0;
    top: -19px;
    z-index: -1;
    background-image: url("../img/clouds/clouds-1-desktop-1x.png");

    @include retina {
      background-image: url("../img/clouds/clouds-1-desktop-2x.png");
    }

    @include vp-1199 {
      top: -93px;
      width: 294px;
      height: 1364px;
      background-image: url("../img/clouds/clouds-1-tablet-1x.png");

      @include retina {
        background-image: url("../img/clouds/clouds-1-tablet-2x.png");
      }
    }

    @include vp-767 {
      top: 137px;
      width: 176px;
      height: 595px;
      background-image: url("../img/clouds/clouds-1-mobile-1x.png");

      @include retina {
        background-image: url("../img/clouds/clouds-1-mobile-2x.png");
      }
    }
  }
}

.tours__container {
  display: flex;
  flex-direction: column;
  padding-top: 102px;
  padding-bottom: 20px;

  @include vp-1199 {
    padding-top: 74px;
  }

  @include vp-767 {
    padding-top: 62px;
    padding-bottom: 16px;
  }
}

.tours__slider {
  width: 100%;
  margin-bottom: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include vp-1199 {
    padding: 0 6px;
  }

  @include vp-767 {
    padding: 0;
    margin-bottom: 29px;
  }
}

.tours__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.tours__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;

  @include vp-1199 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 28px;
  }
}

.tours__buttons {
  align-self: flex-end;

  @include vp-1199 {
    padding-top: 10px;
  }

  @include vp-767 {
    padding-top: 0;
    margin-bottom: 7px;
  }
}

.tours__show-all {
  align-self: center;
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  &:hover,
  &:focus {
    color: $color-resolution-blue;
  }

  &:active {
    color: $color-navy-blue;
  }

  &.is-disabled {
    color: rgba($color-default-white, 0.1);
  }
}
