.tours {
  display: flex;
  flex-direction: column;
  padding-top: 119px;
}

.tours__slider {
  width: 100%;
}

.tours__header {
  display: flex;
  justify-content: space-between;
}

.tours__title {

}

.tours__buttons {

}
